*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
node_modules
.vscode/
App.js
App.js.map
index.android.js
index.android.js.map
index.ios.js
index.ios.js.map
/src/**/*.js
/src/**/*.map
npm-debug.log
dist
ios/dist
ios/main.jsbundle
ios/main.jsbundle.meta